
.skillsSection {
    min-height: 95vh;
}

.skillsSection .content {
    padding: 10px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: 1;
    flex-wrap: wrap;
}

.card {
    border-radius: 15px;
    flex: 1 1 25%;
    height: 100px;
    margin: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.resumeBtn {
    margin: 20px auto;
    text-align: center;
}

.downloadIcon {
    height: 16px;
}

.card .title {
    font-size: 20px;
}

.card > img {
    height: 128px;
    width: 128px;
}


@media only screen and (max-width: 600px) {
    .card {
        margin: 4px;
        height: none;
    }
    .card > img {
        height: 90px;
        width: 90px;
    }
    
  }

  @media only screen and (min-width: 736px) {
    .content {
        margin-left: 70px;
        margin-right: 70px;
    }
}
  