$main-color: #212121;
$optinal-color: #e31b6d;
$secondary-color: #04c2c9;
$black-color: #212121;
$darkblack-color: #252934;
$white-color: #FFF;

$themes: (
    light: (
        backgroundColor: $white-color,
        textColor: $black-color,
        headerColor: $black-color,
        logoColor: $black-color,
        linkColor: $black-color,
        borderStyle : 1px solid $secondary-color,
    ), 
    dark: (
        backgroundColor: $darkblack-color,
        textColor: $white-color,
        headerColor: $secondary-color,
        logoColor: $white-color,
        linkColor: $secondary-color,
        borderStyle : 1px solid $secondary-color,
    )
)

