
@import "../../assets/css/index.scss";

.aboutSection {
    min-height: 95vh;
    margin: auto;
    width: fit-content;
    
    .content {
        display: flex;
        align-items: center;
        flex-flow: column;
    }
}

.subTitle {
    text-align: center;
    font-size: 20px;
}

.cartoon {
    height: 300px;
    border-radius: 50%;
    margin: 10px auto;
    display: block;
}

.intro {
    text-align: center;
}

.contentBtn {
    margin-top: 40px;
}

.btn {
    @include theme-aware('color', 'linkColor');
    @include theme-aware('border', 'borderStyle');
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: none;

    .primary {
        padding: 0.5rem 2rem;
        background-color: transparent;
        border-color: white;
        color: white;
        transition-property: all;
        transition-duration: 0.2s;
        margin-top: 5rem;
    }
}

.line1 {
    font-family: 'Anonymous Pro', monospace;
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 20px auto 10px;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);   
}

/* Animation */
.animTypewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 24em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: #000;}
    to{border-right-color: rgba(200, 0, 0, 0.7);}
  }

  @media only screen and (max-width: 600px) {
    .aboutSection .content {
        padding: 16px;
    }        
}

@media (min-width: 768px) {
    .aboutSection .content {
        margin-left: 70px;
        margin-right: 70px;
    }
}
  
 